.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div1, 
.div2, 
.div3 {
  background-color: black;
  height: 100px;
  width: 100px;
  color: white;
}
.div2{
    display: flex;
    align-self: center
}
.div3{
  display: flex;
  align-self: flex-end;
}