.div1 {
  color: white;
  background: #383838;
  width: 200px;
  height: 200px;
  position: absolute;
}
.div2 {
  background-color: black;
  height: 100px;
  width: 100px;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
