.div1 {
    color: white;
    background: #383838;
    width: 300px;
    height: 500px;
    position: absolute;
  }
  .div2 {
    background-color: black;
    height: 250px;
    width: 225px;
    color: white;
    position: absolute;
    bottom :0;
    right:0;
  }
  .div3 {
    background-color: lightgray;
    height: 180px;
    width: 180px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  