.div1 {
    background-color: black;
    height: 100px;
    width: 100px;
    color: white;
    position: relative;
  }

  .div2 {
    background-color: #383838;
    height: 100px;
    width: 100px;
    color: white;
    position:relative;
    top:-50px;
    left:50px; 
  }