.container{
    width: 1000px;
    height: 1000px;
    position: relative;
    top: 50px;
    left: 300px;
}
.div1 {
    color: white;
    background: #383838;
    width: 700px;
    height: 300px;
    position: absolute;
  }
  .div2 {
    background-color: black;
    height: 200px;
    width: 200px;
    color: white;
    position: absolute;
    top: 50px;
    left:40px;
  }
  .div3 {
    background-color: black;
    height: 200px;
    width: 200px;
    color: white;
    position: absolute;
    bottom: 50px;
    right: 40px;
  }
  