.div1 {
  background-color: #383838;
  height: 300px;
  width: 300px;
  color: white;
  position: absolute;
}
.div2 {
  background-color: black;
  height: 150px;
  width: 150px;
  color: white;
  position: absolute;
  top: 10px;
  right: 100px;
}
.div3 {
  background-color: black;
  height: 150px;
  width: 150px;
  color: white;
  position: absolute;
  top: 375px;
}
.div4 {
  background-color: #383838;
  height: 300px;
  width: 300px;
  color: white;
  position: absolute;
  top: 250px;
  left: 350px;
}
