.div2,
.div3 {
  background-color: black;
  height: 100px;
  width: 100px;
  color: white;
}

.div1 {
   background: #383838;
   color: white;
   width: 350px;
   height: 150px
}

.div2 {
  position: absolute;
  left: 0;
  bottom: 0;
 
}


.div3 {
    position: absolute;
    right: 0;
    top: 0;
   
  }

.container {
  position: absolute;
  right: 0;
  bottom: 0;
}

