.container {
    display: flex;
    flex-direction: column-reverse;
}

.div2 {
    align-self: center;
}
.div3{
 align-self: flex-end;
}
.div1,
.div2,
.div3 {
    background-color: black;
    height: 200px;
    width: 200px;
    color: white;
}