.div1 {
    background-color: black;
    height: 100px;
    width: 100px;
    color: white;
    position: relative;
  }

  .div2 {
    background-color: #383838;
    height: 100px;
    width: 100px;
    color: white;
    position:relative;
    top:-50px;
    left:50px; 
  }
  .div3 {
    background-color: black;
    height: 100px;
    width: 100px;
    color: white;
    position:relative;
    top:-100px;
    left:100px; 
  }
  .div4 {
    background-color: #383838;
    height: 100px;
    width: 100px;
    color: white;
    position:relative;
    top:-150px;
    left:150px; 
  }
  .div5 {
    background-color: black;
    height: 100px;
    width: 100px;
    color: white;
    position:relative;
    top:-200px;
    left:200px; 
  }