.div1, 
.div2{
  background-color: black;
  height: 100px;
  width: 100px;
  color: white;
}
.div1 {
  height: 200px;
  width: 200px;
  background: #383838
;
  margin: 0 auto;
}

.div2 {
  position: relative;
  margin: 30px 50px;
}

.container {
    margin-top: 20px;
}