.div1 {
    color: white;
    background: #383838;
    width: 300px;
    height: 300px;
    position: absolute;
    right:0;
  }
  .div2 {
    background-color: black;
    height: 150px;
    width: 150px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
  }